:root{

}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1584aa;
    margin: 10px;

}
.center {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left_big_center, .center_bigger, .right_hude_center{
    height: 200px;
    width: 17%;
    background-color: #103e90;
    margin:10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 50%;
}

.bottom{
    height: 300px;
    width: 600px;
    background-color: #1584aa;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
}

